{% load static %}

<div class=" container-fluid text-center text-white pt-5 mb-0 pb-0 " style="background-color: rgb(84, 81, 61);">
    <div class="row footer">
        <div class="col-lg-3 col-md-6 ">
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-lg-3 col-md-6 ">
            <h4>Customer Service</h4>
            <ul class="list-unstyled">
                <li><a href="#" class="text-white">Contact Us</a></li>
                <li><a href="#" class="text-white">Shipping & Returns</a></li>
                <li><a href="#" class="text-white">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6  ">
            <h4>Categories</h4>
            <ul class="list-unstyled">
                <li><a href="#" class="text-white">Clothing</a></li>
                <li><a href="#" class="text-white">Electronics</a></li>
                <li><a href="#" class="text-white">Accessories</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6  ">
            <h4>Follow Us</h4>
            <p>Stay updated on social media:</p>
            <div class="d-flex">
                <a href="#" class="me-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="me-2"><i class="bi bi-twitter"></i></a>
                <a href="#" class="me-2"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
    
    <div class="class mb-0 pb-2">
        <small class="text-white mycontainer-fluid   text-center p-2 ">Copyright &copy; 2023 || Designed By HK-Solution LTD. || </small>
        <img src="/static/app/images/payment.png" alt="" srcset="" class="img-fluid" height="2px">
    </div>
</div>

<!-- Start Footer -->
<!-- <footer class="container-fluid mycontainer-fluid   text-center p-2 " style="background-color: rgb(84, 81, 61);">
        <small class="text-white">Copyright &copy; 2023 || Designed By HK-Solution LTD. || </small>
        <img src="/static/app/images/payment.png" alt="" srcset="" class="img-fluid" height="2px">
</footer>  -->
<!-- End Footer -->