{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}


{% block main-content %}
<div class="container content">



        <style>
            /* Add your custom styles here */
            body {
                background-color: #f8f9fa;
            }
            .about-us-container {
                padding: 40px 0;
            }
        </style>

        <div class="container about-us-container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>About Our Company</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet orci ac lectus malesuada, nec vulputate lorem venenatis. Donec sed augue eget arcu pharetra eleifend. Ut vel quam vel dolor fringilla viverra. Sed ultricies risus at ante bibendum, ut blandit nisl facilisis.</p>
                    <p>Vivamus bibendum sapien ut ex rhoncus, eget eleifend mi volutpat. Nulla facilisi. Donec fermentum odio non justo blandit, eu vestibulum dolor feugiat. Vestibulum sed ultricies libero.</p>
                </div>
                <div class="col-lg-6">
                    <img src="{% static 'app/images/about us1.png' %}" alt="About Us Image" class="img-fluid">
                </div>
            </div>
            
            <!-- Additional Content -->
            <div class="row">
                <div class="col-lg-6">
                    <h2>Our Mission</h2>
                    <p>Our mission is to provide high-quality products and exceptional service to our customers. We strive to make online shopping a convenient and enjoyable experience for everyone.</p>
                </div>
                <div class="col-lg-6">
                    <h2>Our Team</h2>
                    <p>We are a dedicated team of professionals who are passionate about e-commerce. Our team members come from diverse backgrounds and bring a wealth of experience to the table.</p>
                </div>
            </div>
    
            <!-- More Content -->
            <div class="row">
                <div class="col-lg-12">
                    <h2>Our Values</h2>
                    <p>At Your E-Commerce Store, we are committed to the following values:</p>
                    <ul>
                        <li>Customer Satisfaction</li>
                        <li>Product Quality</li>
                        <li>Transparency</li>
                        <li>Innovation</li>
                        <li>Community Engagement</li>
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <h2>Why Choose Us</h2>
                    <p>There are many reasons to choose Your E-Commerce Store for your online shopping needs:</p>
                    <ul>
                        <li>Wide Selection of Products</li>
                        <li>Secure Online Transactions</li>
                        <li>Fast and Reliable Shipping</li>
                        <li>Exceptional Customer Support</li>
                    </ul>
                </div>
            </div>
        </div>
    
    
</div>
{% endblock main-content %}
