{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<style>

    .cart {
      height: 350px;
      width: 200px;
    }
    .cart-item {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
  
    .item-discounted-price {
        font-size: 18px;
        padding: 0;
        margin: 0;
        color: #ed343495;
    }
  
    .text-truncate-2{
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  
    .collection-img span{
      top: 20px;
      right: 20px;
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }
  </style>


<div class="container content my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
        <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action" aria-current="true">All Mobile</a>
        <a href="{% url 'mobiledata' 'Xiaomi' %}" class="list-group-item list-group-item-action" aria-current="true">Redmi</a>
        <a href="{% url 'mobiledata' 'Apple' %}" class="list-group-item list-group-item-action" aria-current="true">Apple</a>
        <a href="{% url 'mobiledata' 'Below' %}" class="list-group-item list-group-item-action" aria-current="true">below</a>
        <a href="{% url 'mobiledata' 'Above' %}" class="list-group-item list-group-item-action" aria-current="true">above</a>
    
       </div>
  </div>
  <div class="col-sm-8 offset-sm-1">
    <!-- <div class="row">
        {% for product in mobiles %}
            <div class="col-sm-4 text-center mb-4">
                <a href="{% url 'product-detail' product.id %}" class=" btn">
                    <div class="item">
                        <img src="{{product.product_image.url}}" alt="Not Found" height="300">
                        <div class="fw-bold">{{product.title}}</div>
                        <div class="fw-bold">Price: {{product.discounted_price}} <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
                    </div>
                </a>
    
            </div>
        {% endfor %}
    
       </div> -->


       <div class="row">
        {% for product in mobiles %}
    
            <div class = " col-6 col-md-4 col-lg-3 col-xl-3 p-2 border border-light best">
              <a href="{% url 'product-detail' product.id %}" class="btn m-0 p-0" style="padding: 0; margin: 0;">
              <div class = "collection-img position-relative">
                  <img src = "{{product.product_image.url}}" style="width:100% !important; height: 220px;">
                  <span class = "position-absolute text-white d-flex align-items-center justify-content-center" style="background-color: #8b7d3c;">-25%</span>
              </div>
              <div class = "text-center">
                  <div class = "rating mt-3">
                      <span class = "text-primary"><i class = "fas fa-star " style="color: #8b7d3c;"></i></span>
                      <span class = "text-primary"><i class = "fas fa-star " style="color: #8b7d3c;"></i></span>
                      <span class = "text-primary"><i class = "fas fa-star " style="color: #8b7d3c;"></i></span>
                      <span class = "text-primary"><i class = "fas fa-star " style="color: #8b7d3c;"></i></span>
                      <span class = "text-primary"><i class = "fas fa-star " style="color: #8b7d3c;"></i></span>
                  </div>
                  <p class = "text-capitalize my-1 text-truncate-2"  style=" height:45px;">{{product.title}}</p>
                  <span class = "fw-bold">Price $.{{product.discounted_price}}</span>
              </div>
            </a>
            </div>
        {% endfor %}
    
        {% if products.has_next %}
        <div class="pagination d-flex justify-content-center mt-md-5">
            <span class=" border p-0 m-0" style="background-color: #918658; border-color: #beb070; border-radius: 10%;">
                {% if products.has_previous %}
                    <a style="background-color: #8b7d3c;" class="btn m-0" href="?page=1">&laquo; FIRST</a>
                    <a style="background-color: #8b7d3c;" class="btn m-0" href="?page={{ products.previous_page_number }}">&lt; PREVIOUS</a>
                {% endif %}
                <span class="current-page mx-md-2 " >{{ products.number }} OF {{ products.paginator.num_pages }}</span>
                {% if products.has_next %}
                    <a style="background-color: #8b7d3c;" class="btn"  href="?page={{ products.next_page_number }}">NEXT  &gt;</a>
                    <a style="background-color: #8b7d3c;" class="btn"  href="?page={{ products.paginator.num_pages }}">LAST &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
        
      </div>
  </div>
 </div>
</div>
{% endblock main-content %}