


{% extends 'app/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Password Change{% endblock title %}
{% block main-content %}
<div class="container py-md-5 ">
<div class="row d-flex justify-content-center " >
    <div class=" col col-md-6 p-1 p-md-3 shadow" style="border: 1px solid rgb(200, 174, 174);">
        <div>
            <h4 class="text-muted text-center">PROFILE UPDATE FORM</h4>
            <hr>
        </div>
        <form action="" method="post" novalidate class="col col-sm-12 ">
          {% csrf_token %}
          {% for fm in form %}
          <div class="form-group">
            {{fm.label_tag}}{{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
          </div>
          {% endfor %}
          <br>
        
        
          <div class="text-start">
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
         </form>
    </div>
</div>
</div>

{% endblock main-content %}