{% extends 'app/base.html' %}

{% load static %}

{% block title %}Change Password Done {% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
    

     <div class="col-sm-6 offset-sm-3">
        <h3>Password Set Successfully</h3>
        <div>
            <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" class="giphy-embed" frameborder="0"></iframe>
        </div>
     </div>
    </div>
</div>



{% endblock main-content %}