{% extends "app/base2.html" %}
{% load static %}
{% load custom_filters %}

{% block main-block-content %}

<div class="col-lg-8 my-lg-0 my-1">
    <div id="main-content" class="bg-white border">
        <div class="d-flex flex-column">
            <div class="h5">Hello {{request.user}},</div>
            <div>Logged in as: {{request.user.email}}</div>
        </div>
        <div class="d-flex my-4 flex-wrap">
            <div class="box me-4 my-1 bg-light">
                <img src="https://www.freepnglogos.com/uploads/box-png/cardboard-box-brown-vector-graphic-pixabay-2.png"
                    alt="">
                <div class="d-flex align-items-center mt-2">
                    <div class="tag">Orders placed</div>
                    <div class="ms-auto number">{{Orders_placed}}</div>
                </div>
            </div>
            <div class="box me-4 my-1 bg-light">
                <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-campus-recreation-university-nebraska-lincoln-30.png"
                    alt="">
                <div class="d-flex align-items-center mt-2">
                    <div class="tag">Items in Cart</div>
                    {% if request.user.is_authenticated %}
                    {% cart_filter request.user as cartcount %}
                    {% if cartcount %}
                    <div class="ms-auto number">{{cartcount}}   </div>
                    {% else %}
                    <div class="ms-auto number">0</div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <!-- <div class="box me-4 my-1 bg-light">
                <img src="https://www.freepnglogos.com/uploads/love-png/love-png-heart-symbol-wikipedia-11.png"
                    alt="">
                <div class="d-flex align-items-center mt-2">
                    <div class="tag">Wishlist</div>
                    <div class="ms-auto number">10</div>
                </div>
            </div> -->
        </div>
        <div class="text-uppercase">My recent orders</div>
        {% if order_list_distinct%}
        {% for order in order_list_distinct  %}
        <div class="order my-3 bg-light">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="d-flex flex-column justify-content-start order-summary">
                        <div class="d-flex align-items-center">
                            <div class="text-uppercase">#{{order.orderid}}</div>
                            <div class="blue-label ms-auto text-uppercase">paid</div>
                        </div>
                        <div class="fs-8 " style="font-weight: 600;">Tracking Id: <u><i>{{ order.orderid|ordertrackingid }}</i></u></div>
                        <div class="fs-8  ">Products #{{order.orderid|trackorderCount}}</div>
                        <div class="fs-8 ">{{order.orderid|trackorderDate}}</div>
                        <!-- <div class="rating d-flex align-items-center pt-1">
                            <img src="https://www.freepnglogos.com/uploads/like-png/like-png-hand-thumb-sign-vector-graphic-pixabay-39.png"
                                alt=""><span class="px-2">Rating:</span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="far fa-star"></span>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-sm-flex align-items-sm-start justify-content-sm-between">
                        {% trackorderStatus order.orderid as orderstatus %}
                        <div class="status ">Status : {{orderstatus}}</div>
                        <a class=" btn btn-primary text-uppercase " href="{% url 'track_order_details' order.orderid %}">order info</a>
                        <!-- <div class="btn btn-primary text-uppercase">order info</div> -->
                    </div>
                    
                </div>
            </div>
            <div class="progressbar-track">
                <ul class="progressbar">
                    
                    <li id="step-1" class="text-muted {% if orderstatus == 'Delivered' or orderstatus == 'Shipped' or orderstatus == 'Packed' or orderstatus == 'Accepted' or orderstatus == 'Placed' %} green {% endif %}">
                        <span class="fas fa-gift"></span>
                    </li>
                    

                    <li id="step-2" class="text-muted {% if orderstatus == 'Delivered' or orderstatus == 'Shipped' or orderstatus == 'Packed' or orderstatus == 'Accepted'  %} green {% endif %}">
                        <span class="fas fa-check"></span>
                    </li>
                    <!-- <li id="step-3" class="text-muted {% if orderstatus == 'Delivered' or orderstatus == 'On The Way' or orderstatus == 'Packed'  %} green {% endif %}">
                        <span class="fas fa-box"></span>
                    </li> -->
                    <li id="step-4" class="text-muted {% if orderstatus == 'Delivered' or orderstatus == 'Shipped'  %} green {% endif %}">
                        <span class="fas fa-truck"></span>
                    </li>
                    <li id="step-5" class="text-muted {% if orderstatus == 'Delivered'  %} green {% endif %}">
                        <span class="fas fa-box-open"></span>
                    </li>
                </ul>
                <div id="tracker"></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        
    </div>
</div>

{% endblock main-block-content %}


